.management {
    .org {
        .org-members {
            .members-titles-row {
                .member-title {
                    width: 200px;
                    display: inline-block;
                }
                .member-title.users {
                    text-align: center;
                }
            }
            .member {
                margin: 20px 0;
                padding-left: 200px;
                .member-detail-item {
                    width: 200px;
                    display: inline-block;
                }
            }
        }
        .org-bottom-bar {
            padding-left: 200px;
        }
    }
    .add-new-org {
        margin-left: 50px;
        margin-top: 50px;
    }
    .management-bottom-bar {
        padding: 50px;
        button {
            margin: 50px;
            float: right;
        }
    }
}